.hero__wave {
  position: absolute;
  width: 200%;
  height: 200px;
  opacity: 0.6;
  animation: waveMove 22s linear infinite;

  &--thick {
    height: 260px;
    opacity: 0.45;
    animation-duration: 30s;
  }

  &--thin {
    height: 140px;
    opacity: 0.25;
    animation-duration: 18s;
  }
}

@keyframes waveMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
