@use './base/reset';
@use './base/themes';
@use './base/variables';
@use './base/fonts';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zamora', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background variables.$transition, color variables.$transition;
}
