@font-face {
  font-family: 'Zamora';
  src: url('../../assets/fonts/Zamora.woff2') format('woff2'),
       url('../../assets/fonts/Zamora.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
